*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Baskerville";

}
html,body{
    width: 100vw;
    min-height: 100vh;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.left{
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    /* object-position: 0 50%;    */
    overflow: hidden;
    background-color: #f5f4e9;
}

.right{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f4e9;
}
nav {
    
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
    font-size: 1.5rem;
    color: #fff;
    z-index: 999;
    opacity: 0;
    animation-name: nava;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: forwards;
    animation-delay: .9s;
}
.left h1{
    z-index: 999;
    position:absolute;
    bottom: 6%;
    left: 10%;
    color: #fff;
    font-size:5rem;
    font-weight: 400;
    text-align:right;
    line-height: .8;
    opacity: 0;
    letter-spacing: .1rem;
    animation-name: BottomToTop;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: forwards;
    animation-delay: .8s;
}
.left h1 span{
    font-size: 4rem;
    font-weight: 250;
    
}
h5{
    letter-spacing:-.1rem ;
}

.top-right{
    width: 25%;
    height:25%;
    position:absolute;
    left: 30%;
    background-image: url(./Bycicle.webp);
    background-position: right;
    background-size: cover;
    animation-name: rightmove;
    animation-duration: 1.8s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: forwards;
    
}
.bottom-right{
    width: 22%;
    height:22%;
    position:absolute;
    bottom: 0%;
    left: 48%;
    background-image: url(./Backpack.webp);
    background-position: right;
    background-size: cover;
    animation-name: rightmove;
    animation-duration: 1.8s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: forwards;
    
}
.middle-right1{
    width: 27%;
    height:48%;
    position:absolute;
    top: 33%;
    left: 15%;
    background-image: url(./shoes.webp);
    background-position: right;
    background-size: cover;
    animation-name: rightmove;
    animation-duration: 1.8s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: forwards;
    
}
.middle-right2{
    width: 9vw;
    height:9vw;
    display: inline-block;
    position:absolute;
    top: 35%;
    left: 50%;
    border-radius: 50%;
    background-color:transparent;
    border: .1rem solid;
    animation-name: rightmove;
    animation-duration: 1.8s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: forwards;
    
}
.text{
    position: absolute;
    top: 25%;
    right: -15%;
    transform: rotate(-90deg);
    font-size: 2rem;
    animation-name: righttext;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: forwards;
}
.text h2{
    letter-spacing: .001rem;
    font-weight: 400;
}
.left img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    animation:rotate 2s cubic-bezier(0.19, 1, 0.22, 1) .6s 1 normal forwards;
    z-index: 99;
    opacity: 0;
}

.overlay{
    z-index: 999;
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     background-color: rgb(243, 61, 61);
     animation:omove 2s cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal forwards;

}

/*Animation */


@keyframes righttext{
    0%{
       right: -25%;
       opacity: 0;
    }
    100%{
       right: -15%;
       opacity: 1;
    }
}

@keyframes rightmove{
    0%{
         transform: translateX(210%);
        opacity: 0;    
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes BottomToTop{
    0%{
        opacity: 0;
        transform: translateY(210%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes move{
    0%{
         transform: translateX(100%);
        opacity: 0;    
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes omove{
    0%{
         transform: translateX(100%);
        opacity: 1;    
    }
    60%{
        opacity: .9;
    }
    100%{
        transform: translateX(0);
        opacity: 0;
    }
}

@keyframes rotate{
    0%{
        opacity: 0;
        transform: rotate(30deg) scale(1.6);
    }
    100%{
        opacity: 1;
        transform: rotate(0) scale(1);
    }
}
@keyframes nava{
    0%{
        opacity: 0;
        transform: translateY(-210%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}



/*Responsive*/


@media(max-width:500px){
    main{
        flex-direction: column;
    }

}