*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}
html,body{
    width:100%;
    height:100%;

}
main{
    width: 100%;
    height: 100%;
    background-image: url(./assests/architecture.webp);
    background-size:cover;
    background-position: right;
    overflow: hidden;
    position: relative;
}
nav{
    position: relative;
    width: 100%;
    height: 10%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 4%;
    color:#ffffff;
}
nav i{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50% ;
    width:2.2% ;
    height: 40%;
    color: #000000;
    background-color: #ffffff;
    font-size: .6rem;
    font-weight: 100;
}
nav .nlinks{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    gap: 15%;
    
}
.nlinks a{
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: .7rem;
    font-weight: 400;
}
nav h5{
    font-size: .7rem;
    font-weight: 450;
    width: 2%;
    height: 40%;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Active::before{
    content: "";
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translate(-50%,0);
    width: 30%;
    height: 10%;

    background-color: #fff;
}
section{
    position: absolute;
    left: 8%;
    top: 15%;
    width: 25%;
    height: 40%;
    color: #ffffff;
}
section h1{
    font-size: 3rem;
    margin-top: 5%;
    line-height: 115%;
}
section .text{
    width: 100%;
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
    /* background-color: chocolate; */
}
section .text .line{
    margin-top: 1%;
    width: 25%;
    border-top: 2px solid #fff;
}
section .text .para{
    width: 65%;
    font-size: .65rem;
    font-weight:300;
    text-align: justify;
    word-spacing: -.1rem;
    line-height: .9rem;
}
section h6{
    font-size: x-small;
    font-weight: 500;
    display: flex;
}
section h6 span{
    font-size: 1rem;
}
footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap:1%; */
    width: 65%;
    height: 18%;
    background-color: #ffffff;

}

.fchild{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    width:20%;
    height: 100%;
    /* background-color:chocolate; */
}
.fchild h3{
    width: 100%;
    font-size: .8rem;
    /* margin-left: -20px; */
    
}
.fchild p{
    margin-top: 2%;
    width: 100%;
    font-size: .6rem;
    font-weight: 300;
}
footer .box{
    position: absolute;
    right: -5%;
    top: -35%;
    width: 5%;
    height: 35%;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
}